.faqs h3{
  font-size: 20px;
  text-decoration: underline;
}
.faq-question{ 
	background-color: #F8F8F8;
	margin-bottom: 0px;
	padding: 5px 20px 5px 20px;
	border-bottom: 1px solid #D6D6D6;
	border-top: 1px solid #fefefe;
}

.faq-question:nth-child(odd){
	background-color: #FEFEFE;
} 

.faq-question:hover{
	transition: .1s ease;
    border-left: 3px solid #A6A6A6;
}

.faq-question:not(:hover){
	transition: .1s ease;
    border-left: 0px solid #A6A6A6;
}

.question{
  font-size: 16px;
   font-weight: bold;
   color: #666666;
}
.answer{
  margin-left: 10px;
}